services:
  custom_web:
    image: ghcr.io/emerson20001/chatwoot-custom:v4.10.0-tavindo-2.9
    container_name: chatwoot-custom-web
    env_file: .env
    depends_on:
      - postgres
      - redis
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - RAILS_ENV=production
      - INSTALLATION_ENV=docker
      - POSTGRES_HOST=postgres
      - REDIS_URL=redis://:chatwoot_redis_local@redis:6379
    command: ["bundle", "exec", "rails", "s", "-p", "3000", "-b", "0.0.0.0"]

  custom_sidekiq:
    image: ghcr.io/emerson20001/chatwoot-custom:v4.10.0-tavindo-2.9
    container_name: chatwoot-custom-sidekiq
    env_file: .env
    depends_on:
      - postgres
      - redis
    environment:
      - NODE_ENV=production
      - RAILS_ENV=production
      - INSTALLATION_ENV=docker
      - POSTGRES_HOST=postgres
      - REDIS_URL=redis://:chatwoot_redis_local@redis:6379
    command: ["bundle", "exec", "sidekiq", "-C", "config/sidekiq.yml"]
